* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';
font-family: 'NanumSquareAcb';
font-family: 'NanumSquareAceb';
font-family: 'NanumSquareAcl';
font-family: 'NanumSquareAcr';
}
*/


body {
    position: relative;
    min-height: 4723px;
  }

button, input, select, table, textarea {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: "맑은 고딕", sans-serif;

    margin: 0;
    padding: 0;
    position: relative;
    min-height: 4723px;
  }

#head {
    overflow: hidden;
    min-height: 100px;
}

.wrap-head {

    height: 49px;
    /* background-color: #21322b; */
    /* border: 1px solid black; */
    /* min-width: 100%; */
    /* float: left; */
}
    
.wrap-head-banner {
    
    position: relative;
    width: 1130px;
    margin: 0 auto;
}

.wrap-head-banner-detail {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0);
}

.whale {

    background-position: 0 -42px;
    display: inline-block;
    content: "";
    vertical-align: top;
    background-image: url(https://static-whale.pstatic.net/main/sprite-20220513@2x.png);
    background-repeat: no-repeat;
    background-size: 141px 112px;
    margin-top: -35px;
    float: left;
    width: 98px;
    height: 21px;
    /* background-position: 0 -21px; */
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.people {
    background-position: 0 -42px;
    display: inline-block;
    content: "";
    vertical-align: top;
    /* background-image: url(https://static-whale.pstatic.net/main/img_darkmode_v12@2x.png); */
    background-repeat: no-repeat;
    background-size: 141px 112px;
    margin-top: -47px;
    float: left;
    width: 200px;
    height: 40px;
}

.darkmode {
    /* background-position: 0 -42px; */
    /* display: inline-block; */
    /* content: ""; */
    /* vertical-align: top; */
    /* background-image: url(https://static-whale.pstatic.net/main/img_darkmode_v12@2x.png); */
    background-repeat: no-repeat;
    /* background-size: 141px 112px; */
    margin-top: -47px;
    float: left;
    /* width: 200px; */
    height: 47px;
    font-size: 17px;
    line-height: 230%;
    /* letter-spacing: -.25px; */
}

.whaledownload-btn {
    /* text-decoration: none; */
    margin-top: -47px;
    float: left;
    height: 47px;
    width:120px;
    text-align: right;
    font-size: 17px;
    line-height: 230%;
    padding-right:10px;
    background-color: #03bc93;
    border-radius: 30px;
    /* text-align:center; */
    margin-left: 730px;
}


.leaf {
    background-position: -89px -63px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://static-whale.pstatic.net/main/sprite-20220513@2x.png);
    background-repeat: no-repeat;
    background-size: 141px 112px;
    margin-top: -167px;
    position: relative;
    float: left;
    width: 17px;
    height: 13px;
}




.service-group {
    /* background-color: aqua; */
    float: right;
  
}


#servicearea {

    min-height: 100px;
    /* min-width: 100px; */
    /* margin: 10px; */
    /* background-color: skyblue; */
    /* box-sizing: border-box; */
    /* float: right; */
}


#startpage{ 
    float: right;
    /* background-color: white; */
    /* margin-right: 600px; */
    /* position: relative; */
    /* min-width: 100px; */
    /* display:inline; */

}
#jrnaver{
    float: right;
    /* background-color: white; */
    /* box-sizing: border-box; */
    /* margin: 0px; */
    /* position: relative; */
    /* margin-right: 10px; */
    /* margin-top: 0px; */
    /* display:inline; */
    
}    

#happybean{
    float: right;
    /* position:relative; */
    /* margin-right: 10px; */
    /* display:inline; */
    
}

#state {
    display: inline-block;
    height: 500px; 
    width: 500px; 
    background-image: url('./image/naver.png');
    background-repeat: no-repeat;
    background-position: 20px -1px; 
    background-size: 220px;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    margin: 0 0 0 3px;
}


#main {
    border: 1px solid black;
    min-height: 100px;
}

#footer {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 355px;
    font-size: 0.7em;
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none;
    color: gray;
}

#ncorp {
    font-weight: bold;
    color: black;
}

#foot_center {
    position: absolute;
    left:80mm;
    width: 30cm;

}

.AD {
    border-bottom: 1px solid gray;
    float: left;
    width: 100%;
    padding: 20px;
}

.AD > .left {

    float: left;
    min-width: 33.33%;
    position: relative;
}

.AD > .center {

    float: left;
    min-width: 33.33%;
    position: relative;
}

.AD > .right {

    float: right;
    min-width: 33.33%;
    position: relative;
}

.cmp {
    width: 145px;
    float: left;
    margin-right: 15px;
}

.ad_main {
    float: left;
}

.org {
    color: rgb(4, 163, 4);
    font-weight: bold;
}

.notice {
    border-bottom: 1px solid gray;
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 5px;
}

.notice > #nt_left {
    float: left;
}

.notice #nt_right {
    float: right;
}

.aside {
    border-bottom: 1px solid gray;
    float: left;
    width: 100%;
    min-height: 90px;
    position: relative;
}

.asd_left {
    position: absolute;
    top: 30%;
}

.asdl_title {
    float: left;
    padding-right: 15px;
}

.asdl_subs {
    float: left;
}

.asd_right {
    position: absolute;
    top: 10px;
    right: 0;
    padding-right: 10mm;
    margin-top: 15px;
}

.asdr_1 {
    position: relative;
    float: left;
    width: 30mm;
}

.asdr_2 {
    position: relative;
    float: left;
    width: 30mm;
}

.rtts {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}

.right-img > img {
    width: 40px;
    float: left;
}

.corp {
    /* border-bottom: 1px solid blue; */
    float: left;
    width: 100%;
}

.corp > div {
    padding-top: 6mm;
    margin-bottom: 2.4cm;
}

.corp > div > span:nth-child(9) {
    font-weight: bold;
}