* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareLight';
    font-family: 'NanumSquare';
    font-family: 'NanumSquareBold';
    font-family: 'NanumSquareExtraBold';
    font-family: 'NanumSquareAcb';
    font-family: 'NanumSquareAceb';
    font-family: 'NanumSquareAcl';
    font-family: 'NanumSquareAcr';
}

*/ body {
    position: relative;
    min-height: 4723px;
}

button,
input,
select,
table,
textarea {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: "맑은 고딕", sans-serif;

    margin: 0;
    padding: 0;
    position: relative;
    min-height: 4723px;
}



/* 
.int_right {
    border: 1px solid rgb(255, 0, 0);
    width: 350px;
    height: 2700px;

    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    float: right;
}

.account_login {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(218, 219, 218);
    background-color: rgb(246, 247, 246);
    box-sizing: border-box;
    width: 350px;
    height: 135px;
    font-size: 0.8em;
    font-weight: 100;
    position: relative;
} */


.head {
    /* border: 1px solid red; */
    height: 49px;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    float: left;
    min-width: 100%;
    background-color: #21322b;
}

.naverwhale {
    /* border: 1px solid red; */
    height: 49px;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1530px;
    margin: 0 auto;
}

.whale-image {
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-position: 0px -60px; 
    height: 40px; 
    width: 156px; 
    background-image: url('https://static-whale.pstatic.net/main/sprite-20220513@2x.png');
    vertical-align: top;
    display: inline-block;
    position: relative;
    background-size: 220px;
    box-sizing: border-box;
    top: 2px;
    left: 50px;
    float: left;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.people {
    margin-top: -47px;
    margin-left: 300px;
    /* border: 1px solid blue; */
    background-repeat: no-repeat;
    background-image: url(https://static-whale.pstatic.net/main/img_darkmode_v12@2x.png);
    height: 40px;
    width: 96px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-size: 81px 42px;
    float: left;
}

.darkmode {
    /* border: 1px solid blue; */
    margin-top: -47px;
    margin-left: 500px;
    height: 47px;
    font-size: 17px;
    line-height: 250%;
    float: left;
}

.download {
    /* border: 1px solid red; */
    margin-top: -47px;
    margin-left: 930px;
    float: left;
    height: 40px;
    width:120px;
    text-align: right;
    font-size: 17px;
    line-height: 230%;
    padding-right:10px;
    border-radius: 30px;
    /* text-decoration: none; */
    /* background-color: #03bc93; */
    /* text-align:center; */
}


.leaf {
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-image: url(https://static-whale.pstatic.net/main/sprite-20220513@2x.png);
    vertical-align: top;
    display: inline-block;
    
    background-position: -150px -100px;
    background-size: 242px;
    margin-top: -47px;
    margin-left: 935px;
    position: relative;
    float: left;
    width: 40px;
    height: 43px;
    box-sizing: border-box;
}

.servicearea {
    /* border: 1px solid red; */
    float: right;
}

.service-group {
    margin-top: 50px;
    /* border: 1px solid red; */
    float: right;
}

#startpage{ 
    /* border:1px solid red; */
    padding: 10px;
}
#jrnaver{
    /* border:1px solid red; */
    float: right;
}    

#happybean{
    /* border:1px solid red; */
    padding-left: 10px;
    float: right;
}

.naverlogo {
    margin-top: 50px;
    margin-left: 50px;
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-image: url(/naver/image/naverlogo.png);
    height: 50px;
    width: 220px;
}


.search {
    margin-top: -40px;
    margin-left: 750px;
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-image: url(/naver/image/search.png);
    height:50px;
    width: 50px;
}


.rtg {
        height:50px;
}





#main {
    border: 1px solid black;
    min-height: 100px;
}

#footer {
    border: 1px solid black;
    height: 100px;
}